.post{
    &__thumb{
        position: relative;
        img{
            width: 100%;
        }
    }
    &__comment{
        position : absolute;
        bottom: 25px;
        left: 25px;
        display: flex;
        flex-direction: column;
        a{
            color:#fff;
            line-height: 0;
            margin-top:16px;
            font-size: 16px;
        }
    }
    &__info{
        margin-top:30px;
        padding : 0 15px;
        text-align: center;
        &__cate{
            h5{
                margin:0;
                font-size: 12.5px;
                font-family: 'Quattrocento Sans', sans-serif;               
            }
            border-bottom: 2px solid #c9c9c9;
            width: 60px;
            margin:0 auto;
        }
        &__title{
            margin-top:16px;
            h3{
                margin: 0;
                font-size: 24px;
                font-family: 'Rufina', serif;
                line-height: 30px;
            }
        }
        &__description{
            margin-top:18px;
            p{
                color:#898989;
                font-size: 13.99px;
                font-family: 'Quattrocento Sans', sans-serif; 
            }
            p:nth-child(2){
                font-size: 13px;
                span{
                    color: #111111;
                }
            }
        }
    }
}
.box{
    width:100%;
    -webkit-column-count: 2;
    -webkit-column-gap:   0;
    -moz-column-count:    2;
    -moz-column-gap:      0;
    column-count:         2;
    column-gap:           0;
    display:inline-block;
}